---
title: "The FAQ"
description: "Freqvently asked questions"
date: 2015-11-05 12:47
tags: Faq, important, startups
public: true
alternate: false
ogp:
  og:
    image:
      '': http://apply.numa.co/images/fbcvr.jpg
      type: image/png
      width: 992
      height: 525
---
.content.clearfix
	.col-md-push-1.col-sm-10.toppad
		markdown:
			#FAQ Acceleration program
			 
			**What does NUMA provide?**

			In exchange for a percentage of their equity stake, each start-up participating in the 6-month program will benefit from:

			- **Weekly one-to-one meetings** with an Entrepreneur in Residence
			- Open access to **experienced mentors**, entrepreneurs and industry experts
			- **Indefinite access to NUMA’s workshops**, tutorials and resources
			- **PR exposure** through NUMA’s corporate events and communication materials
			- **Connections to investors** through the Demo day and other investor meet-ups
			- **Qualified introductions** to our corporate partners. Some of NUMA Paris’ partners are : BNP Paribas, Cisco, Google for Entrepreneurs, Orange, l’Atelier BNP Paribas, SNCF and Atalanta network
			- Introductions to NUMA’s international network of alumni, partnering accelerators and foreign offices (currently Paris, Mexico, Casablanca, Barcelona)
			- **6 months free office space** for up to 6 people
			- **Perks** with partners including free consultations with partnering accounting and law firms

			The face value of these services amounts to **approximately 18000€** per start-up.

			In addition to these acceleration services, NUMA provides a financial support of **3500€** to start-ups when they join the program.


			###What are the most famous start-ups that graduated from NUMA Paris’ acceleration program?

			We’ve accelerated a number of great businesses since starting so it’s hard to choose! Some of NUMA Paris’ renowned start-ups include Mesagraph, Sketchfab, DocTrackr, Bankin’, Zéro-Gâchis, Qunb, Artips, Lima, Agriconomie, Trip’n’drive, Inifinit, Augment, Julie Desk, Soundsgood and Deepomatic.
			 

			###What kind of startups are you going to choose?

			NUMA’s acceleration program is dedicated to early stage start-ups at the seed or early-growth stage. The program doesn’t have any specific industry focus. Accelerated start-ups operate in a wide range of sectors which provides us with a wealth of industry insights. 


			We feel we’re more advanced than other start-ups. Will we still get something out of the program?

			We help early stage startups all along their journey to KPIs that are fundable by VC investors. Whether they are in the product design phase, market testing their product, growing their client or use base or even looking for VC funding. A number of startups we accelerate have a fully-developed product or generate revenues when they join the program. We work with them on their go-to-market strategy, business model, provide qualified introductions to corporates in our network or advise them on their funding strategy.

			No matter where you’re starting from, you should extract significant value from the program.


			We’ve been accepted into an incubator at the same time as NUMA’s program. Do we have to give up this opportunity or do you accept teams who work from another location?

			If your project needs access to specific facilities (Fab Lab..), we completely understand that you’d need to work from other places. However, to make the most of the opportunities the program can provide you, we strongly recommend to work from NUMA’s offices. As a minimum, we require you to be available to attend a few key sessions during the week. Those include monday morning’s scrum, weekly meetings with your EiR and mentors.

			 
			###Do I have to be in Bangalore during the entire acceleration program?

			Yes, we require you to be in Bangalore. Much of the program’s value hinges on your presence in town to attend events organised for you (scrums, coaching sessions, workshops and conferences, etc.). Being physically close to NUMA will also allow you to leverage all the informal opportunities with our mentors, corporate partners, angel or VC funds which visit NUMA from time to time. 

			- **Season 1 will start mid-November 2015 and end in May 2016.**
			- **Call for application starts early June 2016**
			- **Season 2 will start August 2016 and end in January 2017.**


			###I’m not Indian; can you help with Visa issues?

			Sorry, visa procedures are outside our area of expertise! 

			However we can introduce you to immigration specialists or simply guide you to the relevant public institutions. If anyone on your team requires a visa for their 6-month stay in Bangalore you should start your visa application procedures as soon as your participation is confirmed. 


			###What is Demo Day?

			Demo Day is the last event of the acceleration program. You’ll be provided with the opportunity to present your start-up to a large panel of investors, corporates and journalists.
			 

			###Does my company need to be incorporated before joining the program?

			No, your company doesn’t need to be incorporated to join NUMA. Your company’s incorporation can be done at any point in time during the first 2 months of the program. Partnering law firms will be able to assist you with the paperwork. 

			However please note that NUMA’s financial support of 3500€ can’t be provided until your start-up is legally set-up.


			###Who are the mentors ?

			NUMA works with a wide network of mentors with complementary profiles to ensure accelerated start-ups have access at all times to all the expertise their project needs. Those mentors are either web entrepreneurs, industry experts or specialists from one of those areas where educated advice does makes a huge difference, be it product design, UX, marketing, funding or HR. 

			During the first part of the program, you’ll meet with a lot of them to help you identify those mentors you both need and want to work with. The most important thing is that NUMA is consistently looking for experienced people in different fields with a selective approach. And the match is up to you!


			###Who are the partners?

			We have several offers and promotions from a variety of partnering startups and corporates. For a total value of 15000€ per startup. Ranging from cloud computing services offered by AWS Amazon and support from Microsoft… you name it and they want to support you! We will be organising presentations and information sessions with all of our partners so that you understand their products and offers and make the best of them.


			###Agreement with NUMA

			Now that you've made it through the finals, you'll receive an agreement detailing the program's conditions and a bunch of legal documents regarding our future partnership. You'll need to confirm that you accept those terms and conditions during the first week of our program. We have set aside the 17th of November as the day to sign contracts. You (and we at Numa) will get 3 weeks to change your mind.


			###Will I need advice from a lawyer to review the documentation with NUMA?

			The contractual arrangements with NUMA have been drafted by lawyers and several batches of start-ups in France have already entered them. Hence we would recommend that you don’t spend too much time or money on this. Naturally if your governance arrangements require it, or if you’d be more comfortable having them reviewed by a lawyer, you are of course free to seek independent advice.


			###How much does the acceleration program cost?

			The acceleration program is free and provided to you in exchange for a percentage of equity stake in your company. It includes mentoring, access for life to our workshops and tutorials, office space for up to 4 people, access to our events and a financial support of 3500€. We are in discussions with a broad panel of partners who will extend their offers to you. 


			###Do you take the same equity share to all start-ups regardless of their valuation?

			Yes. The terms of our NUMA’s investment and support are standard and apply to all participating start-ups.


			###How does NUMA take a % in the start-ups accelerated?

			NUMA acquires its equity stake from the founders at the nominal value of the shares. 


			###Do I have to accept NUMA’s financial support?

			No, obviously you are free not to take NUMA’s financial support. This money is here to help you get things started. If you believe that your start-up doesn’t need it, by all means don’t use it.


			###My company is based in the US/elsewhere. Can NUMA invest through a traditional capital increase?

			Unfortunately not. We have to provide fair and equal investment terms to all start-ups we accelerate.
			 

			###What if I’m not happy with the acceleration program?

			It’s fine for both of us if you decide to quit the program within the first 3 weeks. Indeed, during that time, both sides (NUMA or you) can unilaterally end the acceleration protocol without providing a cause or compensation.


			###After the program
			 
			Can I attend NUMA’s workshops, tutorials and mentor sessions after the program?

			Absolutely. Start-ups accelerated at NUMA now have access for life to all educational resources or events designed for start-ups. 
			 

			###What are my financing options after the program? 

			NUMA provides you with 3500€ financial support to help you get things started. Most likely you’ll need additional funding after the program. On average 65% of NUMA Paris’ start-ups raise funds after Demo Day. 


			###Will NUMA help me raise funds?

			Naturally. This is part of our role. Specific workshops are planned during the program to help you understand how to raise funds. We also organised meetups with investors to make sure you get exposed to them. 

			We will also get mentors to sit down with you to review your financing options and guide you on the best way forward. 


.centerthis.clearfix =link_to 'Apply Now', "https://www.f6s.com/numabengaluru/apply", :class => 'btn btn-lg btn-apply center-block', :target=> '_blank'